<mat-toolbar>
    <div style="width: 100%;text-align: center">Reactive Forms And Filters</div>
    <button mat-raised-button (click)="showForm = !showForm">
        <span *ngIf="showForm"> Show Filters </span>
        <span *ngIf="!showForm"> Show Reactive Form </span>
    </button>
</mat-toolbar>
<mat-card *ngIf="!showForm">
    <mat-card-title>
        Filters
    </mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <mat-select placeholder="Select Gender" [(ngModel)]="gender">
                <mat-option>-- Select Any --</mat-option>
                <mat-option value="1">Male</mat-option>
                <mat-option value="0">Female</mat-option>
            </mat-select>
        </mat-form-field>
        <br><br>
        <span *ngIf="gender != undefined">Please enter your {{gender | genderFilter}}'s name below</span>
        <br><br>
        <mat-form-field *ngIf="gender != undefined" >
                <input  matInput placeholder="Your {{gender | genderFilter}}'s full name">
        </mat-form-field>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="showForm">
    <mat-card-title>
        Reactive Forms with Angular Material
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="myReactiveForm">
            <table>
                <tr>
                    <td colspan="2">
                        <mat-form-field class="demo-full-width">
                            <input formControlName="FullName" matInput placeholder="Full Name">
                        </mat-form-field>
                        <mat-error
                            *ngIf="!myReactiveForm.get('FullName').valid && myReactiveForm.get('FullName').touched">
                            <span> Please enter Full Name !!!</span>
                        </mat-error>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field class="demo-full-width">
                            <textarea formControlName="Address" matInput placeholder="Address" matTextareaAutosize
                                matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
                        </mat-form-field>
                        <mat-error>
                            <span
                                *ngIf="!myReactiveForm.get('Address').valid && myReactiveForm.get('Address').touched">Please
                                enter proper address !!!</span>
                        </mat-error>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field class="demo-full-width">
                            <input formControlName="DOB" matInput [matDatepicker]="picker" placeholder="Date of birth">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi="true" #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-error>
                            <span *ngIf="!myReactiveForm.get('DOB').valid && myReactiveForm.get('DOB').touched">Please
                                select any Date !!!</span>
                        </mat-error>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Gender</span><br><br>
                        <mat-radio-group formControlName="Gender">
                            <mat-radio-button value="Male">Male</mat-radio-button>
                            <mat-radio-button value="Female">Female</mat-radio-button>
                        </mat-radio-group>
                        <mat-error>
                            <span
                                *ngIf="!myReactiveForm.get('Gender').valid && myReactiveForm.get('Gender').touched">Please
                                select any gender !!!</span>
                        </mat-error>
                    </td>
                    <td><br>
                        <mat-form-field>
                            <mat-select formControlName="Interests" placeholder="Select Interests">
                                <mat-option>-- Select Any --</mat-option>
                                <mat-option value="books">Reading books</mat-option>
                                <mat-option value="music">Listening Music</mat-option>
                            </mat-select>
                            <mat-error>
                                <span
                                    *ngIf="!myReactiveForm.get('Interests').valid && myReactiveForm.get('Interests').touched">Please
                                    select any item !!!</span>
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field class="demo-full-width">
                            <input formControlName="Email" matInput placeholder="Email">
                            <mat-hint>use like : demo@demo.com</mat-hint>
                            <mat-error>
                                <span
                                    *ngIf="!myReactiveForm.get('Email').valid && myReactiveForm.get('Email').touched">Enter
                                    proper Email !!!</span>
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-slide-toggle formControlName="IsAccepted" (change)="onChange($event)">Accept Terms &
                            Conditions</mat-slide-toggle>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="content-center">
                        <button mat-raised-button (click)="onFormSubmit(myReactiveForm.value)">Submit</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        </form>
    </mat-card-content>
</mat-card>